@import 'core/reset';

//colors
$blue: #07b0c7;
$blue-2: #0a91a6;
$lightgreen: #8ed983;

html {
  background-color: black;
}

.bold-text {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.cards {
  justify-content: center;
}

.card {
  box-shadow: 0 0 50px $lightgreen;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form__btn {
    height: fit-content;
  }

  &__content {
    width: 50%;
    box-shadow: 0 0 100px #93cf8b;
    background-color: $blue;
    border-color: black;
  }

  &__section {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 50%;
  }
}

.footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
