@import 'core/reset';

html {
  background-color: black;
}

.text-align-center {
  text-align: center;
}

.cards {
  justify-content: center;
}

.card {
  box-shadow: 0 0 50px #4f9;
}

.footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
